.hola{
    justify-content: flex-start;
    align-items: flex-start;
}
.hola2 {
    margin-left: 1%;
}
.separador{
    margin-bottom: 5px ;
    margin-top: 3px;
}
.separador2{
    margin-bottom: 5px ;
}
