.Container , .App{
    align-items: flex-start;
    justify-content: flex-start;
}


.title{
    align-items: center;
    text-align: center;
    border: black 2px solid;
}
.title2{
    align-items: center;
    text-align: center;
    border-bottom: black 1px solid;
}
.balance{
    align-items: center;
    text-align: center;
    border-bottom: black 1px solid;
}

.addTrx{
    padding-top: 2px;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: black underline;
    border-bottom: black 1px solid;
}

.input{
    margin-top: 2px;
    margin-bottom: 2px;  
}
.submit{
    margin-top: 2px;
    margin-bottom: 2px; 
}
.containergrande{
    width: 100%;
    background-color:#3182CE;
}
.prueba{
    max-width: 100%;
}